{{!-- {{> header}} --}}
{{!-- <p>{{newsList}}</p> --}}

<div class='home-page'>
    <section class='header-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-3 left-side'>
                    <div class='home-list bg--lightEB'>
                        <div class='stylized__item'>
                            <div class='stylized'>
                                <i
                                    class='fa-solid fa-book-open-reader icon--grad'
                                ></i>
                                <h3> Đào tạo </h3>
                                <p class='desc'>Top 8 trường đào tạo an toàn
                                    thông tin trọng điểm cả nước</p>
                            </div>
                        </div>
                        <div class='stylized__item'>
                            <div class='stylized'>
                                <i
                                    class='fa-solid fa-plane-departure icon--grad'
                                ></i>
                                <h3> Học bổng </h3>
                                <p class='desc'>Học bổng và cơ hội du học ngay
                                    từ năm nhất</p>
                            </div>
                        </div>
                        <div class='stylized__item'>
                            <div class='stylized'>
                                <i class='fa-solid fa-briefcase icon--grad'></i>
                                <h3> Cơ hội </h3>
                                <p class='desc'>Cơ hội việc làm cao</p>
                            </div>
                        </div>
                        <div class='stylized__item'>
                            <div class='stylized'>
                                <i
                                    class='fa-solid fa-hand-holding-usd icon--grad'
                                ></i>
                                <h3> Học phí </h3>
                                <p class='desc'>Học phí hợp lý</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col slider'>
                    {{> slider}}    
                </div>
            </div>
        </div>
    </section>
    <section class='recommended-news mt-4 mb-4'>
        <div class='container'>
            <div class='row'>
                <div class='category col-3'>
                    <div class='category-list bg--lightBlue'>
                        <div class='category-list__heading bg--heading'>
                            <h3 class='title'>Danh mục</h3>
                        </div>
                        <div class='category-list__content bg--lightBlue'>
                            <ul class='list'>
                                <li class='list-item'>
                                    <a href='#' alt='' title='Giới thiệu'>Giới
                                        thiệu</a>
                                </li>
                                <li class='list-item'>
                                    <a
                                        href='#'
                                        alt=''
                                        title='Thông báo tuyển sinh'
                                    >Thông báo tuyển sinh</a>
                                </li>
                                <li class='list-item'>
                                    <a
                                        href='#'
                                        alt=''
                                        title='Phương thức tuyển sinh'
                                    >Phương thức tuyển sinh</a>
                                </li>
                                <li class='list-item'>
                                    <a href='#' alt='' title='Học phí'>Học phí</a>
                                </li>
                                <li class='list-item'>
                                    <a href='#' alt='' title='Học bổng'>Học bổng</a>
                                </li>
                                <li class='list-item'>
                                    <a
                                        href='#'
                                        alt=''
                                        title='Chuyên ngành đào tạo'
                                    >Chuyên ngành đào tạo</a>
                                </li>
                                <li class='list-item'>
                                    <a href='#' alt='' title=''>Hướng dẫn đăng
                                        ký</a>
                                </li>
                                <li class='list-item'>
                                    <a href='#' alt='' title=''>Câu hỏi thường
                                        gặp</a>
                                </li>
                                <li class='list-item'>
                                    <a href='#' alt='' title=''>Tin tức-sự kiện</a>
                                </li>
                                <li class='list-item'>
                                    <a href='#' alt='' title=''>Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='admission-news col'>
                    {{! <div class='admission-news__heading'>
                        <h3 class='title'>Tin tuyển sinh</h3>
                    </div> }}
                    <div class='row admission-news__content'>
                        {{#each mainPostList}}
                            <div class='col-sm-6 col-lg-4'>
                                <div class='card'>
                                    <a href='/post/{{this.slug}}'>
                                        <img
                                            src='{{this.image}}'
                                            class='card-img-top'
                                            alt='...'
                                        />
                                    </a>
                                    <div class='card-body'>
                                        <a href='/post/{{this.slug}}'>
                                            <h5
                                                class='card-title'
                                            >{{this.title}}</h5>
                                        </a>
                                        <p
                                            class='card-text'
                                        >{{this.description}}</p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class='college-admissions bg--section'>
        <div class='container'>
            <div class='college-admissions__heading heading--center'>
                <h2 class='highlight-underline'>Tuyển sinh đại học</h2>
            </div>
            <div class='row college-admissions__content'>
                {{#each admissionsPostList}}
                    <div class='col-sm-6 col-lg-3'>
                        <div class='card'>
                            <a href='/news/{{this.slug}}'>
                                <img
                                    src='{{this.image}}'
                                    class='card-img-top'
                                    alt='...'
                                />
                            </a>
                            <div class='card-body'>
                                <a href='/news/{{this.slug}}'>
                                    <h5
                                        class='card-title'
                                    >{{this.title}}</h5>
                                </a>
                                {{!-- <p
                                    class='card-text'
                                >{{this.description}}</p> --}}
                            </div>
                        </div>
                    </div>
                {{/each}}
                <div class="col text-center">
                    <div class="view-news mt-4 margin-bottom-3" >
                        <a
                            href='/news/details'
                            alt=''
                            title=''
                            class='btn-view-more'
                        >Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class='specialized-training mt-4 mb-4'>
        <div class='container'>
            <div class='specialized-training__heading heading--center'>
                <h2 class='highlight-underline'>Chuyên ngành đào tạo</h2>
            </div>
            <h3 class='Sub-title'>Cơ sở phía Bắc</h3>
            <div class='row px-5 major-list'>
                {{#each specializedNorthList}}
                    <div
                        class='card text-white bg-info mb-3 mr-1'
                        style='max-width: 18rem;'
                    >
                        <div class='card-header'>{{this.name}}</div>
                        <div class='card-body'>
                            {{!-- <h5 class='card-title'>Info card title</h5> --}}
                            <p class='card-text'>Mã ngành: {{this.industry_code}}</p>
                            <p class='card-text'>Chỉ tiêu tuyển sinh: {{this.admission_quota}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
            <h3 class='Sub-title'>Cơ sở phía Nam</h3>
            <div class='row px-5 major-list'>
                {{#each specializedSouthList}}
                    <div
                        class='card text-white bg-info mb-3'
                        style='max-width: 18rem;'
                    >
                        <div class='card-header'>{{this.name}}</div>
                        <div class='card-body'>
                            {{!-- <h5 class='card-title'>Info card title</h5> --}}
                            <p class='card-text'>Mã ngành: {{this.industry_code}}</p>
                            <p class='card-text'>Chỉ tiêu tuyển sinh: {{this.admission_quota}}</p>
                        </div>
                    </div>
                {{/each}}
        </div>
    </section>
    <section class='infrastructure bg--section'>
        <div class='infrastructure__heading heading--center'>
            <h2 class='highlight-underline'>Cơ sở vật chất</h2>
        </div>
        <div class='infrastructure__content'>
            <div class='center-content container'>
                <div class="infrastructure-slider swiper mySwiper">
                    <div class='swiper-wrapper'>
                        {{#each infrastructureList}}
                        {{! <div class='col-sm-6 col-lg-3'> }}
                        <div class='swiper-slide card'>
                            <div class='infrastructure-card text-white bg--dark'>
                                <div class='card-img-overlay'>
                                    <div class="infrastructure-info">
                                        <h5 class='card-title'>{{this.title}}</h5>
                                        <p class='card-text'>{{this.description}}.</p>
                                    </div>
                                    {{!-- <p class='card-text'>Last updated 3 mins ago</p> --}}
                                </div>
                                <img class="card-img infrastructure-image" src='{{this.image}}' alt="Card image" />
                            </div>
                        </div>
                        {{!-- </div> --}}
                        {{/each}}
                    </div>
                </div>
                <div class="swiper-button-prev prev-card"></div>
                <div class="swiper-button-next next-card"></div>
                
            </div>
            {{!-- <div class="swiper-button-next next-card"></div>
            <div class="swiper-button-prev prev-card"></div> --}}
            <div class="swiper-pagination display-none"></div>
        </div>

    </section>
    <section class='tuition mt-4 mb-4'>
        <div class='container'>
            <div class='tuition__heading heading--center'>
                <h2 class='highlight-underline'>Học phí - học bổng</h2>
            </div>
            <div class='tuition__content row'>
                {{#each tuitionList}}
                    <div class='tuition-card col-sm-6 col-lg-3'>
                        <a href='/news/{{this.slug}}'>
                            <img
                                src='{{this.image}}'
                                class='card-img-top'
                                alt='...'
                            />
                        </a>
                        <div class='card-body'>
                            <a href='/news/{{this.slug}}'>
                                <h5
                                    class='card-title'
                                >{{this.name}}</h5>
                            </a>
                            {{!-- <p
                                class='card-text'
                            >{{this.description}}</p> --}}
                        </div>
                    </div>
                {{/each}}
                <div class="col text-center">
                    <div class="view-news mt-4 margin-bottom-2" >
                        <a
                            href='/news/details'
                            alt=''
                            title=''
                            class='btn-view-more bg--white'
                        >Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> banner-kma}}
    <section class='container news-events mt-4'>
        <div class='row'>
            <div class='news-events-list col-9'>
                <div class='news-events__heading'>
                    <h2 class='title highlight-underline'>Tin tức - sự kiện</h2>
                </div>
                <div class='row news-events__content'>
                    {{#each newsList}}
                        {{!-- <div class='col'> --}}
                            <div class='news-card col'>
                                <a href='/news/{{this.slug}}'>
                                    <img
                                        src='{{this.image}}'
                                        class='card-img-top'
                                        alt='...'
                                    />
                                </a>
                                <div class='card-body'>
                                    <a href='/news/{{this.slug}}'>
                                        <h5
                                            class='card-title'
                                        >{{this.name}}</h5>
                                    </a>
                                    <p
                                        class='card-text'
                                    >{{this.description}}</p>
                                </div>
                            </div>
                        {{!-- </div> --}}
                    {{/each}}
                    <div class="view-news-list mt-4">
                        <a
                            href='/news/details'
                            alt=''
                            title=''
                            class="btn more-btn"
                        >Xem tất cả <i class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
                    
                </div>
            </div>
            <div class='announcement col-3'>
                <div class='announcement-list bg--lightBlue'>
                    <div class='announcement-list__heading bg--lightEB'>
                        <h3 class='title'>Thông báo</h3>
                    </div>
                    <div class='announcement-list__content bg--lightBlue'>
                         {{!-- <ul class='list'>
                            <li class='list-item'>
                                <a href='#' alt='' title='Giới thiệu'>Giới
                                    thiệu</a>
                            </li>   
                        </ul> --}}
                        {{#each notificationList}}
                          <div class="notification">
                            <a href='#' alt='' title="{{this.name}}">[Thông báo] {{this.name}} </a>
                          </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class='activities bg--section mt-4'>
        <div class='container'>
            <div class='activities__heading heading--center'>
                <h2 class='title highlight-underline'>Hoạt động</h2>
            </div>
            <div class='activities__content row'>
               {{#each activityPostList}}
                    <div class='activity-card col-sm-6 col-lg-3'>
                        <a href='/activity/{{this.slug}}'>
                            <img
                                src='{{this.image}}'
                                class='card-img-top'
                                alt='...'
                            />
                        </a>
                        <div class='card-body'>
                            {{!-- <a href='/activity/{{this.slug}}'> --}}
                                <h5
                                    class='card-title'
                                >{{this.title}}</h5>
                            {{!-- </a> --}}
                            {{!-- <p
                                class='card-text'
                            >{{this.description}}</p> --}}
                        </div>
                    </div>
                {{/each}}
                <div class="col text-center">
                    <div class="view-news margin-top-3 mb-4" >
                        <a
                            href='/activities/details'
                            alt=''
                            title=''
                            class='btn-view-more'
                        >Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- {{> banner}} --}}
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".infrastructure-slider", {
    slidesPerView: 4,
    spaceBetween: 30,
    slidesPerGroup: 1,
    loop: true,
    loopFillGroupWithBlank: false,
    autoplay: {
        delay: 3000,
        disableOnInteraction: false,
    },
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    });
</script>