<div class="mt-4">
    <h3>Danh sách tin tức</h3>
    <a href="/me/trash/news" class="d-flex flex-row-reverse">
     <span class="material-icons" style="font-size:30px; color:rgb(88, 109, 12);">
       folder_delete
     </span>
     <p class="me-1 ">Thùng rác</p>
    </a>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ten tin</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">CreatedAt</th>
                <th scope="col" colspan="3">Handle</th>
            </tr>
        </thead>
        <tbody>
            {{#each newsList}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td> <img src="{{this.image}}" class="card-img-top" style="width: 50px; height: 50px;" alt="..." /></td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td class="d-flex flex-row">
                    <a href="/news/{{this._id}}/edit" class="btn btn-primary me-1">Sửa</a>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-news-modal" data-id="{{this._id}}">Xóa</div>
                </td>
            </tr>
            {{else}}
            <tr>  
              <td colspan="5" class="text-center">
                Không có tin tức nào. 
                <a href="/news/create" class="text-decoration-none">Tạo tin mới</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Modal confirm delete news --}}

<div class="modal fade" id="delete-news-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> 
      <div class="modal-body">
        Có muốn xóa tin tức này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-news" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- hidden actions form --}}
<form name="delete-news-form" method="post"></form>

<script>
    var deleteNewsModal = document.getElementById('delete-news-modal');
    deleteNewsModal.addEventListener('show.bs.modal', function (event) {
        var deleteForm = document.forms['delete-news-form'];
        var btnDeleteNews = document.getElementById('btn-delete-news');

        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        var newsId = button.getAttribute('data-id');
        console.log(newsId);

        btnDeleteNews.onclick = () => {
            deleteForm.action = '/news/' + newsId + '?_method=DELETE';
            deleteForm.submit();
        }
    })
</script>